<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    
    <title>Survey</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/survey.css">
</head>
<body>
    <nav>
        <div id="currentUser">
            <% if (user && user.profile_picture != "") {%>
                <img src="<%= user.profile_picture %>" alt="User Img">
                <h3><%= user.username %></h3>
            <% } else if (user) {%>
                <img src="/uploads/default-profile.png" alt="User Img">
                <h3><%= user.username %></h3>
            <% } else { %>
                <img src="/uploads/default-profile.png" alt="User Img">
                <h3></h3>
            <% } %>
        </div>
        <div id="navButtons">
            <a class="button" href="/"><img class="icon" src="/Icons/svgs/solid/house.svg"> Home</a>
            <a class="button" href="/profile"><img class="icon" src="/Icons/svgs/solid/user.svg"> Profile</a>
            <a class="button" id="currentPageButton" href="/survey"><img class="icon" src="/Icons/svgs/solid/clipboard.svg"> Survey</a>
            <a class="button" href="/prayerwall"><img class="icon" src="/Icons/svgs/solid/thumbtack.svg"> Prayer Wall</a>
            <a class="button" href="/chat"><img class="icon" src="/Icons/svgs/solid/comment.svg"> Chat</a>
            <a class="button" href="/calendar"><img class="icon" src="/Icons/svgs/solid/calendar.svg"> Calendar</a>
            <% if (user && user.role === 'admin') { %>
                <a class="button" href="/adminPanel">adminPanel</a>
            <% } %>
            <a class="button" href="/logout">Logout</a>
            
        </div>
    </nav>
    
    <h1>Survey</h1>
    <p>Welcome to the Survey page.</p>
    
    <br>
    <a class="button" href="/surveyCreate"><img class="icon" src="/Icons/svgs/solid/plus.svg"> Create a survey </a>
    <br>
    <br>
    <br>

    <div>
        <!-- Checking if surveys and survey_questions have data to display -->
        <% if (surveys && surveys.length > 0) { %>
            <!-- Every question is generated here. There are 4 types -->
            <% let array = []; let resetArray = false;%>
            <% surveys.forEach((Q, index, arr) => { %>
                
                <% if (index == 0) { %>
                    <form>
                    <h1><%= surveys[0].title %></h1>
                    <div id="personsInfo">
                        <label for="name">Name</label>
                        <input id="name" type="text">
                        <br>
                        <label for="major">Major</label>
                        <input id="major" type="text">
                        <br>
                        <label for="year">Year</label>
                        <input id="year" type="text">
                    </div>
                <% } %> 
                
                <% if (index < arr.length - 1 && arr[index+1].question_id == Q.question_id) {
                    array.push(Q.choice); %>
                    <% return;
                } else if (index != 0 && arr[index-1].question_id == Q.question_id) {
                    array.push(Q.choice);
                    resetArray = true;
                } %>
                

                <% if (Q.question_type == "short") { %>
                    <div class="question">
                        <h3><%= Q.question_text %></h3>
                        <input id="<%= Q.question_id %>" type="text">
                    </div>
                <% } else if (Q.question_type == "long") { %>
                    <div class="question">
                        <h3><%= Q.question_text %></h3>
                        <textarea id="<%= Q.question_id %>" name="description" rows="3" class="form-input"></textarea>
                    </div>
                <% } else if (Q.question_type == "bubble") { %>
                    <div class="question">
                        <h3><%= Q.question_text %></h3>
                        <% array.forEach(c => { %>
                            <input id="<%= c %>"  type="radio" name="question<% Q.question_id %>" value="<%= c %>"/>
                            <label for="<%= c %>"><%= c %></label>
                        <% }); %>
                    </div>
                <% } else if (Q.question_type == "checkBox") { %>
                    <div class="question">
                        <h3><%= Q.question_text %></h3>
                        <% array.forEach(c => { %>
                            <input id="<%= c %>" type="checkbox">
                            <label for="<%= c %>"><%= c %></label>
                        <% }); %>
                    </div>
                <% } %>

                <% if (resetArray) { array = []; resetArray = false; } %>
                <% if (index == arr.length - 1) { %>
                    <br>
                    <button type="submit" class="btn submit-btn">
                        Submit
                    </button>
                    </form>
                <% } %>
                
            <% }); %>
        <% } %> 
    </div>

    <br>
    <br>
    <br>
    <br>
    
    <form>
        <h1>Survey Name</h1>

        <div class="question">
            <h3>Question 1</h3>
            <input type="text">
        </div>

        <div class="question">
            <h3>Question 2</h3>
            <input type="radio" id="huey" name="drone" value="huey"/>
            <label for="huey">Huey</label>
            <input type="radio" id="loui" name="drone" value="loui"/>
            <label for="huey">Loui</label>
            <input type="radio" id="Fooey" name="drone" value="Fooey"/>
            <label for="huey">Fooey</label>
        </div>

        <div class="question">
            <h3>Question 3</h3>
            <input id="q3.1" type="checkbox">
            <label for="q3.1">1</label>
            <input id="q3.2" type="checkbox">
            <label for="q3.2">2</label>
            <input id="q3.3" type="checkbox">
            <label for="q3.3">3</label>
        </div>
    </form>

</body>
</html>