<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    
    <title>Survey</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/survey.css">
</head>
<body>
    <nav>
        <div id="currentUser">
            <% if (user && user.profile_picture != "") {%>
                <img src="<%= user.profile_picture %>" alt="User Img">
                <h3><%= user.username %></h3>
            <% } else if (user) {%>
                <img src="/uploads/default-profile.png" alt="User Img">
                <h3><%= user.username %></h3>
            <% } else { %>
                <img src="/uploads/default-profile.png" alt="User Img">
                <h3></h3>
            <% } %>
        </div>
        <div id="navButtons">
            <a class="button" href="/"><img class="icon" src="/Icons/svgs/solid/house.svg"> Home</a>
            <a class="button" href="/profile"><img class="icon" src="/Icons/svgs/solid/user.svg"> Profile</a>
            <a class="button" id="currentPageButton" href="/survey"><img class="icon" src="/Icons/svgs/solid/clipboard.svg"> Survey</a>
            <a class="button" href="/prayerwall"><img class="icon" src="/Icons/svgs/solid/thumbtack.svg"> Prayer Wall</a>
            <a class="button" href="/chat"><img class="icon" src="/Icons/svgs/solid/comment.svg"> Chat</a>
            <a class="button" href="/calendar"><img class="icon" src="/Icons/svgs/solid/calendar.svg"> Calendar</a>
            <% if (user && user.role === 'admin') { %>
                <a class="button" href="/adminPanel">adminPanel</a>
            <% } %>
            <a class="button" href="/logout">Logout</a>
            
        </div>
    </nav>
    
    <h1>Create a Survey</h1>
    <!-- <button
        id="togglePrayerForm"
        style="background-color: #2d572c; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; margin-bottom: 10px;"
        >
        Pin A Prayer
    </button> -->

    <!-- Prayer Request Form (Hidden by Default) -->
    <div class="add-question">
        <h1>Add Question:</h1>
        <button class="btn add-button" id="add-short" onclick="textQuestion">Short</button>
        <button class="btn add-button" id="add-long" onclick="longQuestion">Long</button>
        <button class="btn add-button" id="add-select" onclick="selectQuestion">Select</button>
        <!-- <button class="btn add-button" id="add-check">Check</button> -->
    </div>

    <div class="addQuestionForm"> 
        <form id="short" style="display: none;">
            <label for="text">Type 'short-answer' question here: </label><br>
            <textarea name="text" id="text"></textarea><br>
            <button class="btn">Add Question</button>
        </form>
        <form id="long" style="display: none;">
            <label for="text">Type 'long-answer' question here: </label><br>
            <textarea name="text" id="text"></textarea><br>
            <button class="btn">Add Question</button>
        </form>
        <form id="select" style="display: none;">
            <label for="text">Type 'select-answer' question here: </label><br>
            <label for="numberOfChoices">How many choices will there be?</label>
            <input type="">
            <textarea name="text" id="text"></textarea><br>
            <button class="btn">Add Question</button>
        </form>
    </div>

    <div>
        <!-- Checking if surveys and survey_questions have data to display -->
        <% if (surveys && surveys.length > 0) { %>
            <!-- Every question is generated here. There are 4 types -->
            <% let array = []; let resetArray = false;%>
            <% surveys.forEach((Q, index, arr) => { %>

                <% if (index == 0) { %>
                    <% // console.log(Q); %>
                    <form action="surveyForm" method="POST">
                    <input type="text" name="surveyId" value="<%= Q.survey_id %>" hidden>
                    <h1><%= surveys[0].title %></h1>
                    <div id="personsInfo">
                        <label for="name">Name</label>
                        <input id="name" name="name" type="text">
                        <br>
                        <label for="major">Major</label>
                        <input id="major"  name="major" type="text">
                        <br>
                        <label for="year">Year</label>
                        <input id="year" name="year" type="text">
                    </div>
                <% } %> 
                
                <% if (index < arr.length - 1 && arr[index+1].question_id == Q.question_id) {
                    array.push(Q.choice);
                    return;
                } else if (index != 0 && arr[index-1].question_id == Q.question_id) {
                    array.push(Q.choice);
                    resetArray = true;
                } %>
                

                <% if (Q.question_type == "short") { %>
                    <div class="question">
                        <h3><%= Q.question_text %></h3>
                        <div class="input-box">
                            <input id="<%= Q.question_id %>" name="<%= Q.question_id %>" type="text">
                        </div>
                    </div>
                <% } else if (Q.question_type == "long") { %>
                    <div class="question">
                        <h3><%= Q.question_text %></h3>
                        <div class="input-box">
                            <textarea id="<%= Q.question_id %>" name="<%= Q.question_id %>" rows="3" class="form-input"></textarea>
                        </div>
                    </div>
                <% } else if (Q.question_type == "bubble") { %>
                    <div class="question">
                        <h3><%= Q.question_text %></h3>
                        <div class="input-box">
                            <% array.forEach(c => { %>
                            <input id="<%= c %>"  type="radio" name="<%= Q.question_id %>" value="<%= c %>"/>
                            <label for="<%= c %>"><%= c %></label>
                            <% }); %>
                        </div>
                    </div>
                <% } else if (Q.question_type == "checkBox") { %>
                    <div class="question">
                        <h3><%= Q.question_text %></h3>
                        <div class="input-box">
                            <% array.forEach(c => { %>
                            <input id="<%= c %>" name="<%= Q.question_id %>" type="checkbox">
                            <label for="<%= c %>"><%= c %></label>
                            <% }); %>
                        </div>
                    </div>
                <% } %>

                <% if (resetArray) { array = []; resetArray = false; } %>
                <% if (index == arr.length - 1) { %>
                    </form>
                <% } %>
                
            <% }); %>
        <% } %>


        <script>
            function ShortQuestion() {
                document.getElementById("");
            }

            function textQuestion() {

            }

            function selectQuestion() {

            }
        </script>
    </div>
</body>
</html>